@font-face {
    font-family: hassan;
    src: url(./PlaywriteCAGuides-Regular.ttf);
}
h1,p{
    font-family: hassan;
}
h1{
    background-color: #000000;
    color: #ffffff;
}
h1:hover{
    background-color: #0000ff;
    color: #7fffd4;
}
p:hover{
    background-color: #deb887;
    color: #0000ff;
}
p::first-letter{
    color: #008b8b;

}
p::first-line{
    color: #00ffff;
}
a:active{
    color: #0000ff;
    background-color: #00ffff;
}
a:visited{
    color: #a52a2a;
    background-color: #00ffff;
}
